* {
    box-sizing: border-box;
    font-family: 'Helvetica', 'Trebuchet MS', 'Lucida Sans Unicode';
}

body {
    background-color: rgb(207, 183, 183);
}

header {
    background-color: rgb(161, 54, 54);
    margin: 25px 25px 0 25px;
    height: 138px;
    border: 1px solid rgb(97, 0, 0);
    display: flex;
}

header h1 {
    background-color: rgb(97, 0, 0);
    border: 1px solid black;
    width: 50%;
    height: 78px;
    padding: 15px;
    font-size: 44px;
    color: whitesmoke;
}

header nav {
    width: 50%;
    margin-top: 35px;
    text-align: right;
    justify-content: flex-end;
}

header nav ul li {
    display: inline-flex;
    margin-right: 50px;
}

header nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 30px;
}

a:hover {
    opacity: .7;
}

.hero {
    background-image: url("../assets/images/mi18Yw\ \(1\).jpg");
    height: 500px;
    width: 83%;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-right: 1px solid rgb(97, 0, 0);
    border-bottom: 1px solid rgb(97, 0, 0);
    border-left: 1px solid rgb(97, 0, 0);
}

.facepic {
    border: 3px solid rgb(161, 54, 54);
    max-height: 380px;
    margin: 50px 10px 10px 100px;
    float: left;
}

.subtitle {
    background-color: rgb(161, 54, 54);
    border: 1px solid rgb(97, 0, 0);
    width: 20%;
    position: absolute;
    bottom: 300px;
    right: 168px;
    text-align: right;
    height: 78px;
    padding: 0 20px 50px 0;
    margin-bottom: 10px;
}

.portfolio {
    font-size: 40px;
    color: whitesmoke;
    position: relative;
    bottom: 25px;
}

main section {
    display: flex;
    justify-content: start;
}

.margin {
    margin: 1%;
}

.column1 {
    border-right: 20px solid rgb(161, 54, 54);
    width: 25%;
    text-align: right;
    padding: 2%;
}

.column2 {
    width: 65%;
    padding: 2%;
}

h2 {
    color: rgb(121, 15, 36);
    font-size: 44px;
}

p {
    color: rgb(48, 0, 0);
    font-size: 20px;
}

.contact-me {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 25%;
}

.resume {
    text-decoration: none;
    font-size: 22px;
    color: rgb(97, 0, 0);
    position: relative;
    top: 25%;
    left: 5%;
}

main section div ul li a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(97, 0, 0);
}